In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# 1. Create a DataFrame for the US-Accident data.
file_to_load = "US_Accidents_Dec21_updated.csv"
accidents = pd.read_csv(file_to_load)
accidents.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [3]:
# 2. Check the datatypes of your columns.
accidents.dtypes

ID                        object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Number                   float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [4]:
# 3. Redefine columns in dataframe
accidents_updated = accidents[['Severity', 'Start_Time', 'State', 'Temperature(F)', 'Visibility(mi)', 'Wind_Speed(mph)', 'Precipitation(in)', 
    'Weather_Condition', 'Sunrise_Sunset']].copy()
accidents_updated.head()

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night
1,2,2016-02-08 05:56:20,OH,36.9,10.0,NaN,0.02,Light Rain,Night
2,2,2016-02-08 06:15:39,OH,36.0,10.0,NaN,0.02,Overcast,Night
3,2,2016-02-08 06:51:45,OH,39.0,10.0,NaN,NaN,Overcast,Night
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day

In [5]:
#4. Add 'Year' index column from 'Start_Time' column
accidents_updated['year'] = pd.DatetimeIndex(accidents_updated['Start_Time']).year
accidents_updated.head()

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night,2016
1,2,2016-02-08 05:56:20,OH,36.9,10.0,NaN,0.02,Light Rain,Night,2016
2,2,2016-02-08 06:15:39,OH,36.0,10.0,NaN,0.02,Overcast,Night,2016
3,2,2016-02-08 06:51:45,OH,39.0,10.0,NaN,NaN,Overcast,Night,2016
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day,2016

In [6]:
#5. Replace NaN values with Zeros 
#Wind_Speed(mph) zero means no wind speed was reported for that accident
#Precipitation(in) zero means no precipitation was reported for that accident
accidents_updated.fillna(0)

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night,2016
1,2,2016-02-08 05:56:20,OH,36.9,10.0,0.0,0.02,Light Rain,Night,2016
2,2,2016-02-08 06:15:39,OH,36.0,10.0,0.0,0.02,Overcast,Night,2016
3,2,2016-02-08 06:51:45,OH,39.0,10.0,0.0,0.00,Overcast,Night,2016
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day,2016
...,...,...,...,...,...,...,...,...,...,...
2845337,2,2019-08-23 18:03:25,CA,86.0,10.0,13.0,0.00,Fair,Day,2019
2845338,2,2019-08-23 19:11:30,CA,70.0,10.0,6.0,0.00,Fair,Day,2019
2845339,2,2019-08-23 19:00:21,CA,73.0,10.0,10.0,0.00,Partly Cloudy,Day,2019
2845340,2,2019-08-23 19:00:21,CA,71.0,10.0,8.0,0.00,Fair,Day,2019
2845341,2,2019-08-23 18:52:06,CA,79.0,7.0,7.0,0.00,Fair,Day,2019

In [7]:
#6. Get count of unique values in the 'Severity' column
print(accidents_updated['Severity'].value_counts())

2    2532991
3     155105
4     131193
1      26053
Name: Severity, dtype: int64

In [8]:
#7. Get count of unique values in the 'State' column
print(accidents_updated['State'].value_counts())

CA    795868
FL    401388
TX    149037
OR    126341
VA    113535
NY    108049
PA     99975
MN     97185
NC     91362
SC     89216
MD     65085
AZ     56504
NJ     52902
TN     52613
UT     49193
LA     47232
IL     47105
MI     43843
GA     40086
WA     32554
CT     29762
MO     29633
CO     25340
OH     24409
IN     20850
AL     19322
MT     15964
AR     10935
IA      9607
DC      9133
KS      9033
OK      8806
ID      8544
WI      7896
WV      7632
KY      6638
MA      6392
NV      6197
MS      5320
DE      4842
RI      4451
NH      3866
NE      3320
NM      2370
ND      2258
ME      2193
WY       990
VT       365
SD       201
Name: State, dtype: int64

In [9]:
#8. Get count of unique values in the 'Weather_Condition' column
print(accidents_updated['Weather_Condition'].value_counts())

Fair                        1107194
Mostly Cloudy                363959
Cloudy                       348767
Partly Cloudy                249939
Clear                        173823
                             ...
Sleet / Windy                     1
Mist / Windy                      1
Blowing Sand                      1
Heavy Freezing Rain               1
Thunder and Hail / Windy          1
Name: Weather_Condition, Length: 127, dtype: int64

In [10]:
#9. Get count of unique values in the 'Sunrise_Sunset' column
print(accidents_updated['Sunrise_Sunset'].value_counts())

Day      1811935
Night    1030540
Name: Sunrise_Sunset, dtype: int64

In [11]:
#10. Get count of unique values in the 'year' column
print(accidents_updated['year'].value_counts())

2021    1511745
2020     625864
2019     258615
2017     163918
2018     163176
2016     122024
Name: year, dtype: int64