In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

pd.options.display.max_rows = 150
pd.options.display.max_columns = 150

In [2]:
#Add Import Data header

In [3]:
# 1. Create a DataFrame for the US-Accident data.
file_to_load = "../US_Accidents_Dec21_updated.csv"
accidents = pd.read_csv(file_to_load)
accidents.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Number,Street,Side,City,County,State,Zipcode,Country,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,NaN,Outerbelt E,R,Dublin,Franklin,OH,43017,US,US/Eastern,KOSU,2016-02-08 00:53:00,42.1,36.1,58.0,29.76,10.0,SW,10.4,0.00,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,NaN,I-70 E,R,Dayton,Montgomery,OH,45424,US,US/Eastern,KFFO,2016-02-08 05:58:00,36.9,NaN,91.0,29.68,10.0,Calm,NaN,0.02,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,NaN,I-75 S,R,Cincinnati,Hamilton,OH,45203,US,US/Eastern,KLUK,2016-02-08 05:53:00,36.0,NaN,97.0,29.70,10.0,Calm,NaN,0.02,Overcast,False,False,False,False,True,False,False,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,NaN,I-77 N,R,Akron,Summit,OH,44311,US,US/Eastern,KAKR,2016-02-08 06:54:00,39.0,NaN,55.0,29.65,10.0,Calm,NaN,NaN,Overcast,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,NaN,I-75 S,R,Cincinnati,Hamilton,OH,45217,US,US/Eastern,KLUK,2016-02-08 07:53:00,37.0,29.8,93.0,29.69,10.0,WSW,10.4,0.01,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day

In [4]:
#Get Row Count for the accidents dataframe
row_count = len(accidents)
row_count

2845342

In [5]:
#Add CLEAN DATA header

In [6]:
# 2. Redefine columns in dataframe
accidents_updated = accidents[['Severity', 'Start_Time', 'State', 'Temperature(F)', 'Visibility(mi)', 'Wind_Speed(mph)', 'Precipitation(in)', 
    'Weather_Condition', 'Sunrise_Sunset']].copy()
accidents_updated.head()

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night
1,2,2016-02-08 05:56:20,OH,36.9,10.0,NaN,0.02,Light Rain,Night
2,2,2016-02-08 06:15:39,OH,36.0,10.0,NaN,0.02,Overcast,Night
3,2,2016-02-08 06:51:45,OH,39.0,10.0,NaN,NaN,Overcast,Night
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day

In [7]:
#3. Remove NaN values
accidents_updated = accidents_updated.dropna(axis=0, how="any")
accidents_updated.head()

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day
7,2,2016-02-08 11:51:46,OH,33.1,0.5,3.5,0.08,Snow,Day
9,2,2016-02-08 15:16:43,OH,32.0,0.5,3.5,0.05,Snow,Day
10,2,2016-02-08 15:43:50,OH,33.8,3.0,4.6,0.03,Light Snow,Day

In [8]:
#4. Add 'year' index column from 'Start_Time' column
accidents_updated['year'] = pd.DatetimeIndex(accidents_updated['Start_Time']).year
accidents_updated.head()

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night,2016
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day,2016
7,2,2016-02-08 11:51:46,OH,33.1,0.5,3.5,0.08,Snow,Day,2016
9,2,2016-02-08 15:16:43,OH,32.0,0.5,3.5,0.05,Snow,Day,2016
10,2,2016-02-08 15:43:50,OH,33.8,3.0,4.6,0.03,Light Snow,Day,2016

In [9]:
#5. Add 'date' index column from 'Start_Time' column
accidents_updated['date'] = pd.DatetimeIndex(accidents_updated['Start_Time']).date
accidents_updated.head()

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year,date
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night,2016,2016-02-08
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day,2016,2016-02-08
7,2,2016-02-08 11:51:46,OH,33.1,0.5,3.5,0.08,Snow,Day,2016,2016-02-08
9,2,2016-02-08 15:16:43,OH,32.0,0.5,3.5,0.05,Snow,Day,2016,2016-02-08
10,2,2016-02-08 15:43:50,OH,33.8,3.0,4.6,0.03,Light Snow,Day,2016,2016-02-08

In [10]:
#6. Review Dtypes for "date" column
accidents_updated.dtypes

Severity               int64
Start_Time            object
State                 object
Temperature(F)       float64
Visibility(mi)       float64
Wind_Speed(mph)      float64
Precipitation(in)    float64
Weather_Condition     object
Sunrise_Sunset        object
year                   int64
date                  object
dtype: object

In [11]:
#7. Change 'date' column to string
accidents_updated['date'] = pd.to_datetime(accidents_updated['date'])
accidents_updated.dtypes

Severity                      int64
Start_Time                   object
State                        object
Temperature(F)              float64
Visibility(mi)              float64
Wind_Speed(mph)             float64
Precipitation(in)           float64
Weather_Condition            object
Sunrise_Sunset               object
year                          int64
date                 datetime64[ns]
dtype: object

In [12]:
#8. Drop 'State_Time' column
accidents_updated = accidents_updated.drop('Start_Time', axis='columns')
accidents_updated.head()

,Severity,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year,date
0,3,OH,42.1,10.0,10.4,0.00,Light Rain,Night,2016,2016-02-08
4,3,OH,37.0,10.0,10.4,0.01,Light Rain,Day,2016,2016-02-08
7,2,OH,33.1,0.5,3.5,0.08,Snow,Day,2016,2016-02-08
9,2,OH,32.0,0.5,3.5,0.05,Snow,Day,2016,2016-02-08
10,2,OH,33.8,3.0,4.6,0.03,Light Snow,Day,2016,2016-02-08

In [13]:
#9. Rename the columns for ease of use in SQL
accidents_updated.rename(columns = {'Severity':'severity', 
                                    'State':'state_code', 
                                    'Temperature(F)':'temperature_f', 
                                    'Visibility(mi)': 'visibility_mi',
                                    'Wind_Speed(mph)': 'wind_speed_mph',
                                    'Precipitation(in)': 'precipitation_in',
                                    'Weather_Condition': 'weather_condition',
                                    'Sunrise_Sunset': 'sunrise_sunset'}, inplace = True)
accidents_updated.head()

,severity,state_code,temperature_f,visibility_mi,wind_speed_mph,precipitation_in,weather_condition,sunrise_sunset,year,date
0,3,OH,42.1,10.0,10.4,0.00,Light Rain,Night,2016,2016-02-08
4,3,OH,37.0,10.0,10.4,0.01,Light Rain,Day,2016,2016-02-08
7,2,OH,33.1,0.5,3.5,0.08,Snow,Day,2016,2016-02-08
9,2,OH,32.0,0.5,3.5,0.05,Snow,Day,2016,2016-02-08
10,2,OH,33.8,3.0,4.6,0.03,Light Snow,Day,2016,2016-02-08

In [14]:
#Get row count of accidents_updated dadtaframe
row_count = len(accidents_updated)
row_count

2245420

In [15]:
accidents_updated["severity"].mean()

2.080124876415103

In [16]:
accidents_updated["temperature_f"].mean()

61.84658954672069

In [17]:
accidents_updated["visibility_mi"].mean()

9.015909059329726

In [18]:
accidents_updated["wind_speed_mph"].mean()

7.18786641251979

In [19]:
accidents_updated["precipitation_in"].mean()

0.006760463521312437

In [20]:
#10. Create a PreCovid Dataframe
#accidents_updated = pd.PreCOVID_accidents(date)
start_date = '2018-06-01'
end_date = '2020-02-29'
# Select DataFrame rows between two dates
mask = (accidents_updated['date'] > start_date) & (accidents_updated['date'] <= end_date)
PreCOVID_accidents = accidents_updated.loc[mask]
PreCOVID_accidents.head()

,severity,state_code,temperature_f,visibility_mi,wind_speed_mph,precipitation_in,weather_condition,sunrise_sunset,year,date
582028,4,NJ,89.0,10.0,5.0,0.0,Fair,Day,2019,2019-10-02
1295810,4,LA,54.0,10.0,5.0,0.0,Mostly Cloudy,Day,2019,2019-11-01
1537770,4,AZ,41.0,10.0,10.0,0.0,Fair,Night,2020,2020-02-16
1568027,4,TX,79.0,10.0,25.0,0.0,Light Rain / Windy,Day,2019,2019-06-04
1756843,4,VA,37.0,10.0,0.0,0.0,Fair,Night,2019,2019-10-19

In [21]:
#11. Create a new "classification" column in the PreCOVID dataframe
#(this will be important for the PreCOVID/COVID accidents_merged datafrome; see Step #24)
PreCOVID_accidents['classification'] = 'PreCOVID'
PreCOVID_accidents.head()

C:\Users\new\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,severity,state_code,temperature_f,visibility_mi,wind_speed_mph,precipitation_in,weather_condition,sunrise_sunset,year,date,classification
582028,4,NJ,89.0,10.0,5.0,0.0,Fair,Day,2019,2019-10-02,PreCOVID
1295810,4,LA,54.0,10.0,5.0,0.0,Mostly Cloudy,Day,2019,2019-11-01,PreCOVID
1537770,4,AZ,41.0,10.0,10.0,0.0,Fair,Night,2020,2020-02-16,PreCOVID
1568027,4,TX,79.0,10.0,25.0,0.0,Light Rain / Windy,Day,2019,2019-06-04,PreCOVID
1756843,4,VA,37.0,10.0,0.0,0.0,Fair,Night,2019,2019-10-19,PreCOVID

In [22]:
#Get row count of accidents_updated dadtaframe
row_count = len(PreCOVID_accidents)
row_count

277041

In [23]:
PreCOVID_accidents["severity"].mean()

2.2493999083168195

In [24]:
PreCOVID_accidents["temperature_f"].mean()

58.70557246039394

In [25]:
PreCOVID_accidents["visibility_mi"].mean()

8.871667370533638

In [26]:
PreCOVID_accidents["wind_speed_mph"].mean()

6.973079796853446

In [27]:
PreCOVID_accidents["precipitation_in"].mean()

0.006797044480779521

In [28]:
#12. Create a COVID Dataframe
#accidents_updated = pd.COVID_accidents(date)
start_date = '2020-03-01'
end_date = '2021-12-31'
# Select DataFrame rows between two dates
mask = (accidents_updated['date'] > start_date) & (accidents_updated['date'] <= end_date)
COVID_accidents = accidents_updated.loc[mask]
COVID_accidents.head()

,severity,state_code,temperature_f,visibility_mi,wind_speed_mph,precipitation_in,weather_condition,sunrise_sunset,year,date
224945,2,MA,42.0,10.0,12.0,0.0,Fair,Night,2021,2021-03-10
224946,2,CA,54.0,2.0,6.0,0.0,Fog,Night,2021,2021-07-30
224947,2,MD,79.0,10.0,9.0,0.0,Mostly Cloudy,Day,2021,2021-10-15
224948,2,WA,38.0,10.0,0.0,0.0,Cloudy,Day,2021,2021-12-21
224949,2,CA,52.0,10.0,9.0,0.0,Fair,Day,2021,2021-12-09

In [29]:
#13. Create a new "classification" column in the COVID dataframe
#(this will be important for the PreCOVID/COVID accidents_merged datafrome; see Step #24)
COVID_accidents['classification'] = 'COVID'
COVID_accidents.head()

C:\Users\new\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,severity,state_code,temperature_f,visibility_mi,wind_speed_mph,precipitation_in,weather_condition,sunrise_sunset,year,date,classification
224945,2,MA,42.0,10.0,12.0,0.0,Fair,Night,2021,2021-03-10,COVID
224946,2,CA,54.0,2.0,6.0,0.0,Fog,Night,2021,2021-07-30,COVID
224947,2,MD,79.0,10.0,9.0,0.0,Mostly Cloudy,Day,2021,2021-10-15,COVID
224948,2,WA,38.0,10.0,0.0,0.0,Cloudy,Day,2021,2021-12-21,COVID
224949,2,CA,52.0,10.0,9.0,0.0,Fair,Day,2021,2021-12-09,COVID

In [30]:
#Get row count of accidents_updated dadtaframe
row_count = len(COVID_accidents)
row_count

1928431

In [31]:
COVID_accidents["severity"].mean()

2.0478933391964764

In [32]:
COVID_accidents["temperature_f"].mean()

62.46723009534694

In [33]:
COVID_accidents["visibility_mi"].mean()

9.083557119751697

In [34]:
COVID_accidents["wind_speed_mph"].mean()

7.163185511952463

In [35]:
COVID_accidents["precipitation_in"].mean()

0.005687603030658014

In [36]:
#14a. Get count of unique values in the 'Severity' column from 'accidents_upated' dataframe
print(accidents_updated['severity'].value_counts())

2    2084426
3      71340
4      66076
1      23578
Name: severity, dtype: int64

In [37]:
#14b. Get count of unique values for Severity column from 'PreCOVID_accidents'
print(PreCOVID_accidents['severity'].value_counts())

2    228702
3     27134
4     21055
1       150
Name: severity, dtype: int64

In [38]:
#14c. Get count of unique values for Severity Column from 'COVID_accidents'
print(COVID_accidents['severity'].value_counts())

2    1828676
4      39448
3      36885
1      23422
Name: severity, dtype: int64

In [39]:
#15a. Get count of unique values in the 'State' column from 'accidents_updated'
print(accidents_updated['state_code'].value_counts())

CA    611261
FL    355328
TX    111194
OR    100907
VA     93357
PA     88933
NY     86456
MN     85145
SC     82403
NC     75124
TN     46598
LA     43920
MD     42480
AZ     41302
NJ     40509
UT     34112
MI     31770
IL     25320
GA     24400
CT     23680
WA     21583
MO     20151
AL     17202
CO     16265
MT     14526
OH     12788
IN     12761
AR      9691
DC      8056
IA      7497
OK      7056
ID      7031
WV      6211
KS      6080
MS      4088
KY      4035
MA      3994
DE      3944
NV      3510
WI      2734
RI      2379
NE      2340
NH      1875
ND      1685
NM      1641
ME      1061
WY       660
VT       223
SD       154
Name: state_code, dtype: int64

In [40]:
#15b. Get count of unique values in the 'State' column from 'PreCOVID_accidents'
print(PreCOVID_accidents['state_code'].value_counts())

CA    125281
OR     35137
MN     17267
UT     13115
FL      9460
NY      6967
IL      6446
TX      5902
NJ      5499
CO      5236
MI      4975
GA      4689
WA      4440
VA      3494
NC      2279
MD      2090
CT      2046
AZ      2032
TN      1716
PA      1590
MO      1489
IN      1402
WI      1287
OH      1229
SC      1088
NH      1056
LA      1002
AL       972
ME       738
AR       730
RI       723
KY       667
MA       617
ID       536
NE       523
IA       510
MS       479
KS       460
WV       433
DC       296
NV       262
DE       235
NM       179
VT       144
OK       117
MT       114
WY        63
SD        21
ND         8
Name: state_code, dtype: int64

In [41]:
#15c. Get count of unique values in the 'State' column from "COVID_accidents"
print(COVID_accidents['state_code'].value_counts())

CA    480030
FL    342487
TX    103287
VA     89056
PA     85880
SC     80975
NY     76926
NC     71408
MN     66918
OR     65085
TN     44152
LA     42395
MD     39896
AZ     39054
NJ     33707
MI     24719
CT     20937
UT     20497
GA     18572
MO     17467
AL     16092
IL     16052
WA     15175
MT     14320
IN     10832
CO     10786
OH      9762
AR      8925
DC      7701
IA      6776
OK      6747
ID      6330
WV      5456
KS      5450
DE      3633
MS      3486
NV      3139
MA      3094
KY      2923
NE      1750
ND      1675
NM      1432
RI      1364
WI       952
WY       536
NH       322
SD       129
ME       100
VT        44
Name: state_code, dtype: int64

In [42]:
#16a. Get count of unique values in the 'Weather_Condition' column from 'accidents_updated'
print(accidents_updated['weather_condition'].value_counts())

Fair                                   1044151
Cloudy                                  335487
Mostly Cloudy                           288935
Partly Cloudy                           196112
Light Rain                              121335
Light Snow                               40259
Fog                                      37573
Haze                                     29270
Rain                                     28098
Fair / Windy                             14509
Heavy Rain                               11297
Overcast                                 10981
Thunder in the Vicinity                   6749
Cloudy / Windy                            6562
T-Storm                                   6369
Light Drizzle                             6298
Mostly Cloudy / Windy                     6194
Smoke                                     5974
Thunder                                   5926
Light Rain with Thunder                   5228
Snow                                      4649
Wintry Mix                                3830
Partly Cloudy / Windy                     3777
Heavy T-Storm                             3555
Light Rain / Windy                        3320
Light Snow / Windy                        2118
Drizzle                                   1362
Heavy Snow                                1276
Rain / Windy                              1055
N/A Precipitation                          971
Scattered Clouds                           952
Light Thunderstorms and Rain               856
Clear                                      834
Shallow Fog                                805
Light Freezing Rain                        777
Patches of Fog                             739
Heavy Rain / Windy                         719
Haze / Windy                               559
Mist                                       545
Showers in the Vicinity                    494
Heavy Thunderstorms and Rain               446
Thunderstorms and Rain                     391
Snow / Windy                               389
Heavy T-Storm / Windy                      381
Light Freezing Drizzle                     342
Fog / Windy                                268
T-Storm / Windy                            257
Thunderstorm                               225
Thunder / Windy                            222
Heavy Snow / Windy                         198
Blowing Dust / Windy                       140
Blowing Dust                               136
Drizzle and Fog                            133
Heavy Drizzle                              112
Blowing Snow                               111
Snow and Sleet                             104
Light Drizzle / Windy                      102
Light Rain Shower                           88
Blowing Snow / Windy                        84
Wintry Mix / Windy                          72
Light Sleet                                 68
Light Ice Pellets                           66
Sleet                                       46
Smoke / Windy                               46
Freezing Rain                               44
Light Snow and Sleet                        43
Light Freezing Rain / Windy                 35
Small Hail                                  29
Light Freezing Fog                          29
Ice Pellets                                 28
Light Snow Shower                           25
Squalls / Windy                             20
Widespread Dust                             19
Rain Shower                                 19
Snow and Sleet / Windy                      18
Widespread Dust / Windy                     18
Light Snow and Sleet / Windy                16
Sand / Dust Whirlwinds                      15
Heavy Sleet                                 13
Light Rain Showers                          11
Freezing Drizzle                            11
Light Snow with Thunder                     10
Tornado                                      9
Drizzle / Windy                              8
Light Sleet / Windy                          7
Thunder / Wintry Mix                         6
Squalls                                      6
Snow Grains                                  5
Patches of Fog / Windy                       4
Partial Fog                                  4
Hail                                         3
Heavy Snow with Thunder                      3
Heavy Rain Shower                            3
Heavy Thunderstorms and Snow                 3
Rain Showers                                 2
Freezing Rain / Windy                        2
Sand / Windy                                 2
Thunder and Hail                             2
Light Blowing Snow                           2
Blowing Snow Nearby                          2
Snow and Thunder / Windy                     2
Thunder / Wintry Mix / Windy                 2
Drifting Snow                                1
Heavy Thunderstorms with Small Hail          1
Sand / Dust Whirls Nearby                    1
Sleet / Windy                                1
Light Thunderstorms and Snow                 1
Blowing Sand                                 1
Heavy Freezing Rain                          1
Heavy Freezing Drizzle                       1
Light Rain Shower / Windy                    1
Sand / Dust Whirlwinds / Windy               1
Heavy Rain Shower / Windy                    1
Heavy Ice Pellets                            1
Thunder and Hail / Windy                     1
Name: weather_condition, dtype: int64

In [43]:
#16b. Get count of unique values in the 'Weather_Condition' column from 'PreCOVID_accidents'
print(PreCOVID_accidents['weather_condition'].value_counts())

Fair                            115198
Cloudy                           41604
Mostly Cloudy                    32253
Partly Cloudy                    31529
Light Rain                       18454
Light Snow                        8188
Fog                               4576
Haze                              4069
Rain                              3921
Overcast                          3798
Fair / Windy                      1710
Heavy Rain                        1503
Snow                               997
Cloudy / Windy                     896
Light Drizzle                      843
Mostly Cloudy / Windy              658
Partly Cloudy / Windy              592
Wintry Mix                         510
Light Snow / Windy                 418
Light Rain / Windy                 385
Thunder in the Vicinity            377
T-Storm                            361
Smoke                              360
Light Rain with Thunder            326
Scattered Clouds                   298
Light Freezing Rain                276
Thunder                            265
Heavy Snow                         244
Clear                              239
Drizzle                            226
Light Thunderstorms and Rain       212
Heavy T-Storm                      171
N/A Precipitation                  136
Rain / Windy                       122
Haze / Windy                       111
Patches of Fog                     109
Heavy Thunderstorms and Rain        98
Light Freezing Drizzle              84
Thunderstorms and Rain              78
Mist                                78
Showers in the Vicinity             67
Blowing Snow                        65
Thunderstorm                        59
Shallow Fog                         51
Blowing Snow / Windy                44
Blowing Dust                        42
Blowing Dust / Windy                42
Snow / Windy                        40
Heavy Rain / Windy                  40
Fog / Windy                         37
Drizzle and Fog                     24
Heavy T-Storm / Windy               23
Light Ice Pellets                   23
Heavy Drizzle                       22
T-Storm / Windy                     22
Light Drizzle / Windy               20
Thunder / Windy                     18
Light Freezing Fog                  16
Freezing Rain                       15
Heavy Snow / Windy                  14
Ice Pellets                         14
Light Rain Shower                   12
Wintry Mix / Windy                   7
Sand / Dust Whirlwinds               7
Small Hail                           5
Snow and Sleet                       4
Light Snow with Thunder              3
Rain Shower                          3
Heavy Snow with Thunder              3
Light Blowing Snow                   2
Snow and Sleet / Windy               2
Light Sleet                          2
Light Snow and Sleet / Windy         2
Squalls / Windy                      2
Smoke / Windy                        2
Sleet                                2
Tornado                              2
Drifting Snow                        1
Light Freezing Rain / Windy          1
Hail                                 1
Partial Fog                          1
Rain Showers                         1
Light Snow and Sleet                 1
Drizzle / Windy                      1
Heavy Rain Shower                    1
Light Snow Shower                    1
Thunder and Hail / Windy             1
Name: weather_condition, dtype: int64

In [44]:
#16c. Get count of unique values in the 'Weather_Condition' column from 'COVID_accidents'
print(COVID_accidents['weather_condition'].value_counts())

Fair                              927250
Cloudy                            293072
Mostly Cloudy                     253466
Partly Cloudy                     163688
Light Rain                         89987
Fog                                32911
Light Snow                         27706
Haze                               25041
Rain                               21500
Fair / Windy                       12766
Heavy Rain                          8745
Thunder in the Vicinity             6363
T-Storm                             5999
Thunder                             5653
Cloudy / Windy                      5650
Smoke                               5604
Mostly Cloudy / Windy               5527
Light Rain with Thunder             4895
Light Drizzle                       4767
Heavy T-Storm                       3381
Wintry Mix                          3314
Partly Cloudy / Windy               3168
Snow                                3106
Light Rain / Windy                  2919
Light Snow / Windy                  1697
Drizzle                             1077
Rain / Windy                         927
Heavy Snow                           831
N/A Precipitation                    829
Shallow Fog                          750
Heavy Rain / Windy                   675
Patches of Fog                       628
Mist                                 449
Haze / Windy                         448
Showers in the Vicinity              423
Heavy T-Storm / Windy                357
Snow / Windy                         348
T-Storm / Windy                      234
Fog / Windy                          230
Light Freezing Rain                  225
Thunder / Windy                      204
Heavy Snow / Windy                   182
Light Freezing Drizzle               157
Drizzle and Fog                      108
Snow and Sleet                       100
Blowing Dust / Windy                  97
Blowing Dust                          93
Heavy Drizzle                         82
Light Drizzle / Windy                 82
Light Rain Shower                     76
Light Sleet                           66
Wintry Mix / Windy                    65
Sleet                                 44
Smoke / Windy                         43
Light Snow and Sleet                  42
Blowing Snow / Windy                  40
Light Freezing Rain / Windy           32
Freezing Rain                         29
Blowing Snow                          29
Light Snow Shower                     24
Small Hail                            23
Widespread Dust                       19
Widespread Dust / Windy               18
Squalls / Windy                       18
Snow and Sleet / Windy                16
Rain Shower                           16
Light Snow and Sleet / Windy          14
Heavy Sleet                           13
Freezing Drizzle                      11
Sand / Dust Whirlwinds                 8
Tornado                                7
Light Sleet / Windy                    7
Light Snow with Thunder                7
Drizzle / Windy                        7
Thunder / Wintry Mix                   6
Snow Grains                            5
Squalls                                5
Patches of Fog / Windy                 4
Partial Fog                            3
Thunder and Hail                       2
Hail                                   2
Sand / Windy                           2
Blowing Snow Nearby                    2
Thunder / Wintry Mix / Windy           2
Snow and Thunder / Windy               2
Heavy Rain Shower                      2
Light Rain Shower / Windy              1
Sand / Dust Whirlwinds / Windy         1
Heavy Rain Shower / Windy              1
Freezing Rain / Windy                  1
Heavy Freezing Drizzle                 1
Heavy Freezing Rain                    1
Blowing Sand                           1
Sleet / Windy                          1
Sand / Dust Whirls Nearby              1
Name: weather_condition, dtype: int64

In [45]:
#17a. Get count of unique values in the 'Sunrise_Sunset' column from 'accidents_updated'
print(accidents_updated['sunrise_sunset'].value_counts())

Day      1401357
Night     844063
Name: sunrise_sunset, dtype: int64

In [46]:
#17b. Get count of unique values in the 'Sunrise_Sunset' column from 'PreCOVID_accidents'
print(PreCOVID_accidents['sunrise_sunset'].value_counts())

Day      181813
Night     95228
Name: sunrise_sunset, dtype: int64

In [47]:
#17c. Get count of unique values in the 'Sunrise_Sunset' column from 'COVID_accidents'
print(COVID_accidents['sunrise_sunset'].value_counts())

Day      1191248
Night     737183
Name: sunrise_sunset, dtype: int64

In [48]:
#18a. Get count of unique values in the 'year' column from 'accidents_updated'
print(accidents_updated['year'].value_counts())

2021    1419863
2020     575031
2019     198861
2018      21139
2017      19517
2016      11009
Name: year, dtype: int64

In [49]:
#18b. Get count of unique values in the 'year' column from 'PreCOVID_accidents'
print(PreCOVID_accidents['year'].value_counts())

2019    198861
2020     65722
2018     12458
Name: year, dtype: int64

In [50]:
#18c. Get count of unique values in the 'year' column from 'COVID_accidents'
print(COVID_accidents['year'].value_counts())

2021    1419863
2020     508568
Name: year, dtype: int64

In [51]:
#19. Get count of unique values in the 'classification' column from "PreCOVID_accidents"
print(PreCOVID_accidents['classification'].value_counts())

PreCOVID    277041
Name: classification, dtype: int64

In [52]:
#20. Get count of unique values in the 'classification' column from "COVID_accidents"
print(COVID_accidents['classification'].value_counts())

COVID    1928431
Name: classification, dtype: int64

In [53]:
#21. Export Accidents_updated as a csv file
accidents_updated.to_csv(r'..\accidents_updated.csv', index = False)

In [54]:
#22. Export PreCOVID_accidents as a csv file
PreCOVID_accidents.to_csv(r'..\PreCOVID_accidents.csv', index = False)

In [55]:
#23. Eport COVID_accidents as a csv file
COVID_accidents.to_csv(r'..\COVID_accidents.csv', index = False)

In [56]:
#24. Combine PreCOVID_accidents and COVID_accidents into one dataframe
accidents_merged = pd.concat([PreCOVID_accidents, COVID_accidents], ignore_index=True, sort=False)
accidents_merged.head()

,severity,state_code,temperature_f,visibility_mi,wind_speed_mph,precipitation_in,weather_condition,sunrise_sunset,year,date,classification
0,4,NJ,89.0,10.0,5.0,0.0,Fair,Day,2019,2019-10-02,PreCOVID
1,4,LA,54.0,10.0,5.0,0.0,Mostly Cloudy,Day,2019,2019-11-01,PreCOVID
2,4,AZ,41.0,10.0,10.0,0.0,Fair,Night,2020,2020-02-16,PreCOVID
3,4,TX,79.0,10.0,25.0,0.0,Light Rain / Windy,Day,2019,2019-06-04,PreCOVID
4,4,VA,37.0,10.0,0.0,0.0,Fair,Night,2019,2019-10-19,PreCOVID

In [57]:
#21. Eport COVID_accidents as a csv file
accidents_merged.to_csv(r'..\accidents_merged.csv', index = False)